{{- $profile := .Site.Params.home.profile -}}
<div class="home-profile chip-huyen-style">
    <div class="profile-container">
        {{- $avatar := $profile.avatarURL -}}
        {{- with $profile.gravatarEmail -}}
            {{- $avatar = md5 . | printf "https://www.gravatar.com/avatar/%v?s=320&d=mp" -}}
        {{- end -}}

        <div class="bio-content">
            {{- if $avatar -}}
                <div class="profile-avatar-wrapper">
                    <div class="home-avatar">
                        {{- dict "Src" $avatar | partial "plugin/img.html" -}}
                    </div>
                </div>
            {{- end -}}

            {{- with $profile.bio -}}
                {{- . | markdownify -}}
            {{- else -}}
                {{- with $profile.subtitle -}}
                    <p class="subtitle-text">{{- . | safeHTML -}}</p>
                {{- end -}}
            {{- end -}}
        </div>

        {{- if $profile.social -}}
            <div class="links social-links">
                {{- $socialMap := resources.Get "data/social.yml" | transform.Unmarshal -}}
                {{- $socialArr := slice -}}
                {{- range $key, $value := .Site.Params.social -}}
                    {{- $social := $key | lower | index $socialMap | default dict -}}
                    {{- with $social.Alias -}}
                        {{- $social = index $socialMap . | default dict -}}
                    {{- end -}}
                    {{- if $value -}}
                        {{- if reflect.IsMap $value -}}
                            {{- with $value.weight -}}
                                {{- $social = dict "Weight" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.prefix -}}
                                {{- $social = dict "Prefix" . | merge $social -}}
                            {{- end -}}
                            {{- with index $value "template" -}}
                                {{- $social = dict "Template" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.id -}}
                                {{- $social = dict "Id" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.url -}}
                                {{- $social = dict "Url" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.title -}}
                                {{- $social = dict "Title" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.newtab -}}
                                {{- $social = dict "Newtab" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.icon -}}
                                {{- $social = dict "Icon" . | merge $social -}}
                            {{- end -}}
                            {{- with $value.rel -}}
                                {{- $social = dict "Rel" . | merge $social -}}
                            {{- end -}}
                        {{- else if ne $value true -}}
                            {{- $social = dict "Id" $value | merge $social -}}
                        {{- end -}}
                        {{- if $social.Icon.Simpleicons -}}
                            {{- $prefix := ($.Scratch.Get "cdn" | default dict).simpleIconsPrefix -}}
                            {{- $social = dict "Prefix" $prefix | dict "Icon" | merge $social -}}
                        {{- end -}}
                        {{- $socialArr = $socialArr | append $social -}}
                    {{- end -}}
                {{- end -}}
                {{- range sort $socialArr "Weight" -}}
                    {{- partial "plugin/social.html" . -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
</div>
