{{- $params := .Scratch.Get "params" -}}

<meta name="Description" content="{{ $params.description | default .Site.Params.description }}">

{{- partial "opengraph.html" . -}}
{{- partial "twitter_cards.html" . -}}


<!-- Modern Tabler Icons (Non-render-blocking, Pinned Version) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.24.0/dist/tabler-icons.min.css" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.24.0/dist/tabler-icons.min.css" /></noscript>

<!-- Devicon Icons (Conditional Homepage/Tech-Marquee, Non-render-blocking, Pinned Version) -->
{{- if or .IsHome (.HasShortcode "tech-marquee") -}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.16.0/devicon.min.css" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.16.0/devicon.min.css" /></noscript>
{{- end -}}

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="referrer" content="strict-origin-when-cross-origin" />
{{- with .Site.Params.app.themeColor -}}
    <meta name="theme-color" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.security.contentSecurityPolicy -}}
    <meta http-equiv="Content-Security-Policy" content="{{ . }}">
{{- end -}}
