{{- $params := .Scratch.Get "params" -}}

<meta name="Description" content="{{ $params.description | default .Site.Params.description }}">

{{- partial "opengraph.html" . -}}
{{- partial "twitter_cards.html" . -}}

<!-- Modern Tabler Icons (Replacement for FontAwesome) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="referrer" content="strict-origin-when-cross-origin" />
{{- with .Site.Params.app.themeColor -}}
    <meta name="theme-color" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.security.contentSecurityPolicy -}}
    <meta http-equiv="Content-Security-Policy" content="{{ . }}">
{{- end -}}
