{{- $content := .Content -}}

{{- if $content -}}

    {{- if and .Ruby (strings.Contains $content "]^(") -}}
        {{- $content = partial "function/ruby.html" $content -}}
    {{- end -}}

    {{- if and .Fraction (strings.Contains $content "]/[") -}}
        {{- $content = partial "function/fraction.html" $content -}}
    {{- end -}}

    {{- if and .Fontawesome (or (strings.Contains $content ":(") (strings.Contains $content "):") ) -}}
        {{- $content = partial "function/fontawesome.html" $content -}}
    {{- end -}}

    {{- if strings.Contains $content "<input" -}}
        {{- $content = partial "function/checkbox.html" $content -}}
    {{- end -}}

    {{- if strings.Contains $content "{?" -}}
        {{- $content = partial "function/escape.html" $content -}}
    {{- end -}}

{{- end -}}

{{- return $content -}}
