{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">
    {{- /* Featured image */ -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources "Page" $ | partial "plugin/img.html" -}}
            </a>
        </div>
    {{- end -}}

    {{- /* Title */ -}}
    <h2 class="single-title" itemprop="name headline">
        <a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a>
        {{- if or .Params.pinned (and .Params.weight (lt .Params.weight 100)) -}}
            <span class="pinned-post-icon" title="Bài viết được ghim">
                <i class="fas fa-thumbtack" aria-hidden="true"></i>
            </span>
        {{- end -}}
    </h2>

    {{- /* Meta: Date • Reading Time */ -}}
    <div class="post-meta">
        <i class="ti ti-calendar" aria-hidden="true"></i>
        {{- with .PublishDate.Format "02 Jan, 2006" -}}
            <time datetime="{{ . }}">{{ . }}</time>
        {{- end -}}
        <span>&bull;</span>
        <span class="post-reading-time">
            {{ .ReadingTime }} min read
        </span>
    </div>

    {{- /* Summary content */ -}}
    <div class="content">
        {{- with .Description -}}
            {{- . | safeHTML -}}
        {{- else -}}
            {{- if .Summary -}}
                {{- .Summary -}}
            {{- else -}}
                {{- .Content | truncate 180 -}}
            {{- end -}}
        {{- end -}}
    </div>

    {{- /* Footer */ -}}
    <div class="post-footer">
    </div>
</article>
