{{- if .Title -}}
    <figure class="markdown-image-figure">
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" title="{{ .Title }}" loading="lazy" decoding="async" />
        <figcaption class="image-caption">{{ .Title }}</figcaption>
    </figure>
{{- else -}}
    <figure class="markdown-image-figure">
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" loading="lazy" decoding="async" />
        {{- if .Text -}}
            <figcaption class="image-caption">{{ .Text }}</figcaption>
        {{- end -}}
    </figure>
{{- end -}}
